
:root {
  --primary-color: blue;
  --secondary-color: green;
  --accent1-color: black;
  --accent2-color: yellow; 
  --heading-font: "Times New Roman";
  --body-font: Arial;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    font-family: var(--body-font);
    color: var(--accent1-color);

}
header{
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;


}
header, main, footer {
  width: 840px;
  margin: 0 auto;
}

h1, h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

nav, p, section, article {
  margin: 16px;
  padding: 8px;
}
.socialmedia a {
    text-decoration: none;
}
.hero{
    position: relative;

}
.hero img {
    display: block;
    width: 100%;
    height: auto;
  }

h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.7;
  background-color: var(--accent1-color);
  color: #fff; 
}
article{
  position: absolute;
  top: 80px;
  width: 95%;
  height: 135px;
  padding: 16px;

  opacity: 1;
  background-color: var(--accent1-color);
  color: white;
}

.hero article img {
  float: right;
  width: 80px;

}
nav img{
    width: 20px;
    height: auto;

}
nav{
  display:flex;
  justify-content: space-evenly;
}
.history{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  align-items: center;
}
.history h2{
  grid-column: 1/4;
  text-align: center;
}
header, .hero, section, footer {
  border: 2px solid black;
  padding: 16px;
}
.adventure{
  display:grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows:auto auto;
  justify-items: center;
  align-items: start;

}
.adventure img{
  width: 100%;
}
.adventure h2{
  grid-column: 1/6;
}
footer{
  display:grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto;

  
}
footer p{
  justify-self: center;

}
.socialmedia{
  justify-content: end;
  gap: 12px
}