
:root {
  --primary-color: blue;
  --secondary-color: green;
  --accent1-color: black;
  --accent2-color: #1F1F1F; 
  --heading-font: "Times New Roman";
  --body-font: Arial;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    font-family: var(--body-font);
    color: var(--accent1-color);

}
header{
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;


}
header, main, footer {
  width: 840px;
  margin: 0 auto;
}

h1, h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

nav, p, section, article {
  margin: 16px;
  padding: 8px;
}
.socialmedia a {
    text-decoration: none;
}
.hero{
    position: relative;
    height: 475px

}
.hero img {
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
    bottom:0;
  }
  .hero article {
    position: absolute;
  }

h1 {
  position: absolute;
  top: 1px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.7;
  background-color: var(--accent1-color);
  color: #fff; 
  left: 0;
}
article{
  position: absolute;
  top: 80px;
  width: 95%;
  height: 135px;
  padding: 16px;

  opacity: 1;
  background-color: var(--accent2-color);
  color: white;
}

.hero article img {
  float: right;
  width: 80px;

}
nav img{
    width: 20px;
    height: auto;

}
nav{
  display:flex;
  justify-content: space-evenly;
}
.history{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  align-items: center;
 
  
}
.history h2{
  grid-column: 1/4;
  text-align: center;
  
}
header, .hero, section, footer {
  border: 2px solid var(--secondary-color);
  padding: 0px;
  
}
.adventure{
  display:grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows:auto auto;
  justify-items: center;
  align-items: start;

}
.adventure figcaption{
  text-align: center;
}
.adventure img{
  width: 10rem;
  height: auto;
  align-self: center;
}
.adventure h2{
  grid-column: 1/6;
}
footer{
  display:grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto;

  
}
footer p{
  justify-self: center;

}
.socialmedia{
  justify-content: end;
  gap: 12px
}
.contact{
  text-align: center;
  padding:0px;
  border:0px;
  margin: 1px 0px;
  line-height: 1px;
}
.map_form{
  display:flex;

}
.form{
  border: solid 2px var(--secondary-color);


}

form button,
form label{
  display: flex;
}
.call{
  position: relative;
  height: 500px;
}
.call img{
  width: 100%;
  height: auto;

}

.call_form{
  display:flex;
  margin: 10px;
}
table{
  width:100%;
}
th, td{
border: 1px black;
  opacity: .7;
  background-color: var(--accent1-color);
  color: white;
}
.trips_contact{
  display:flex;
  justify-content: space-between;
}
.trip_disc{
  display:flex;
  align-items: center;
  padding:10px;
  border: 1px solid black;

}
