nav{
    background-color: darkblue;
    padding: 20px;
}
nav a {
  color: white;
  display: block;
  padding: 20px;
}
h1 {
  color: darkblue;
}
img {
  width: 150px;
  height: auto;
  border: 1px solid black;
  padding: 2px;
  box-shadow: 0 0 30px gray;
}
p {
  padding: 0px;
}
main{
  max-width: 800px;

}
main img{
  width: 250px;
  height: auto;
  border: 1px solid black;
  padding: 10px;
  box-shadow: 10px 10px 10px;
}
aside{
  width: 20rem;
  margin: 1rem;
  border: 1px black;
  padding: 1rem;
  background-color: lightblue;
  color: white;
  text-align: center;
}
aside img{
  width: 200px;
  height: auto;
}
footer{
  margin-top: 10px;
  border-top: 1px solid black;
  text-align: center;
}
