*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --b: black;

}
nav{
    background-color: darkblue;
    padding: 20px;
}
nav a {
  color: white;
  display: block;
  padding: 20px;
}
h1 {
  color: darkblue;
}
img {
  width: 150px;
  height: auto;
  border: 1px solid var(--b);
  padding: 2px;
  box-shadow: 0 0 30px gray;
}
p {
  padding: 0px;
}
main{
  max-width: 800px;

}
main img{
  float: right;
  width: 250px;
  height: auto;
  border: 1px solid var(--b);
  padding: 10px;
  box-shadow: 10px 10px 10px;
}
aside{
  width: 20rem;
  margin: 1rem;
  border: 1px var(--b);
  padding: 1rem;
  background-color: lightblue;
  color: white;
  text-align: center;
}
aside img{
  width: 200px;
  height: auto;
}
aside h2{
  position: absolute;
  top: 120;
  left: 150px;
}
footer{
  margin-top: 10px;
  border-top: 1px solid var(--b);
  text-align: center;
}
/* class selectors */
.box {
  margin: 1rem;
  border: 1px solid var(--b);
  padding: 1rem;
  background-color: white;
  color:var(--b);
}
